button{
  outline: none!important;
}
.btn.btn-solid-dark{
  outline: none;
  @include styleButton($color-purple-0, $color-purple-0, 6px, 12px, 6px, $tf-uppercase);
  @include styleText($color-white-0, $fs-0, $fw-normal, $tf-normal);
  &:hover, &:focus, &:active, &:active:focus, &:hover:active:focus {
    @include hoverButton($color-purple-hover-0, $color-purple-hover-0, $color-white-0);
    box-shadow: none;
  }
}
.btn-linking{
  a{
    outline: none;
    @include styleText($color-white-0, 1.05em, $fw-normal, $tf-uppercase);
    &:hover, &:focus, &:active, &:active:focus, &:hover:active:focus {
      @include hoverButton($color-trans, $color-trans, $color-purple-hover-0);
      box-shadow: none;
    }
  }
  
}
