.menu.navbar-expand-md{
  padding: 15px 0;
  .navbar-brand{
    padding: 0;
  }
  .menu__links {
    .nav-item{
      .nav-link{
        color: #fff;
        font-size: 1em;
        font-weight: 500;
      }
    }
  }
}
