.theater__info {
    margin-bottom: spacing(1);
    .theater__img {
      img {
        width: 45px;
        height: 45px;
      }
      .theater__name {
        margin-left: spacing(2);
        .name {
          color: $color-gray-2;
          .subname {
            color: $color-black-0;
          }
        }
        .showtime {
          margin: 0;
          color: $color-gray-2;
          @include Text($fs-1, $fw-bold-3);
        }
      }
    }
    .timeKeepSlot {
      text-align: center;
      .title__text {
        color: $color-gray-2;
        @include Text($fs-1 - 2, $fw-bold-3);
        margin: 0;
      }
      .time {
        color: $color-red-0;
        @include Text($fs-3 + 4, $fw-bold-3);
        letter-spacing: spacing(0.1);
      }
    }
  }

.chooseSlot {
    .screen__img {
      img {
        width: 100%;
      }
    }
    .picking {
      text-align: center;
      padding: 0 spacing(5);
      margin-bottom: spacing(3);    
      .row__name {
        .row__list {
          list-style: none;
          .list__item {
            margin-bottom: spacing(0.36);
          }
        }
      }
      .slot__picking {
        padding: 0;
        .slot__row {
          // display: grid;
          // grid-template-columns: repeat(16, 1fr);
          text-align: center;
          .slot__item {
            margin-bottom: spacing(1);
            margin-right: spacing(1);
            @include Text($fs-2 + 5, $fw-bold);
            cursor: pointer;
            color: $color-gray-3;
            &.item--picking {
              color: $color-purple-0;
              &.item--vip {
                color: $color-purple-0;
              }
            }
            &.item--picked {
              opacity: 0.5;
              cursor: no-drop;
            }
            &.item--vip {
              color: $color-yellow;
            }          
          }
        }
      }
    }
    .slot__detail {
      margin-top: 2em;
      text-align: center;    
      .fas {
        // margin-right: spacing(0.5);
        &.item--regular {
          color: $color-gray-3;
        }
        &.item--picking {
          color: $color-purple-0;
        }
        &.item--vip {
          color: $color-yellow;
        }
        &.item--picked {
          opacity: 0.2;
        }
      }
      .slot__text {
        margin-right: spacing(1.5);
      }
    }
  }