.infoMovie {
  margin-top: spacing(6.5);
  min-height: 300px;
  background-color: rgb(10, 32, 41);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .movie_background {
    width: 100%;
    img {
      width: 100%;
      filter: blur(8px);
      object-fit: cover;
    }
    .overlay__gradient {
      background: linear-gradient(to top, #862897, transparent 100%);
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
    .play_trailer {
      display: none;
      position: absolute;
      width: 75px;
      height: 75px;
      line-height: 78px;
      border-radius: 50%;
      text-align: center;
      top: 25%;
      left: 45%;
      border: 2px solid $color-white-0;
      background-color: rgba(255, 255, 255, 0.15);
      cursor: pointer;
      transition: linear 0.2s;
      .fa-play {
        @include Text($fs-2 + 2, $fw-bold);
        color: $color-white-0;
      }
    }
    .rating__point {
      display: none;
      position: absolute;
      background-color: rgba(12, 27, 54, 0.8);
      border-radius: 4px;
      padding: 2px;
      position: absolute;
      top: 12px;
      right: 12px;
      width: 60px;
      margin: auto;
      text-align: center;   
      .rating__stars {
        color: $color-yellow;       
      }
    }
  }
  .info {
    position: absolute;
    padding: (0) spacing(20);
    .row {
      .movie__poster {
        .poster__img {
          position: relative;
          &:hover .play__btn {
            opacity: 1;
          }
          .play__btn {
            position: absolute;
            opacity: 0;
            width: 75px;
            height: 75px;
            line-height: 78px;
            border-radius: 50%;
            text-align: center;
            top: 35%;
            left: 29%;
            border: 2px solid $color-yellow;
            background-color: rgba(255, 255, 255, 0.15);
            cursor: pointer;
            transition: linear 0.2s;         
            .fa-play {
              @include Text($fs-2 + 2, $fw-bold);
              color: $color-yellow;
            }
          }
        }
      }
      .movie__info {
        margin-left: spacing(1);
        padding-right: 0;
        padding-top: spacing(6.5);   
        .showtime {
          color: $color-gray;
          margin-bottom: spacing(0.5);
        }
        .code_group{
          color: $color-white-0;
          padding: spacing(0.4) spacing(0.7);
          margin-right: spacing(0.6);
          margin-top: spacing(0.6);
          background-color: $color-danger;
          margin-right: 6px;
          border-radius: 4px;
          padding: 5px;
          @include Text($fs-0 + 2, $fw-normal);
        }
        .name_fiml {
          color: $color-white-0;
          @include Text($fs-3, $fw-normal);
        }
        .time_film {
          margin-top: 10px;
          color: $color-white-0;
          @include Text($fs-0, $fw-normal);
        }
        .bookTicket-btn {
          margin-top: spacing(1);
          color: $color-white-0;
          padding: spacing(0.5) spacing(2.5);
          background-color: $color-purple-0;
          border: 1px solid $color-purple-0;
          border-radius: 4px;
          outline: none;
          transition: all 0.2s;
          &:hover {
            opacity: 0.7;
          }
        }
      }
      .movie__rating {
        transform: translateY(20%);
        padding: 0;
        text-align: center;
        .rating__point {
          position: relative;
          width: 130px;
          height: 130px;
          border-radius: 50%;
          border: 7px solid #333;
          margin: auto;
          line-height: 115px;
          @include Text($fs-6 + 5, $fw-normal);
          color: $color-white-0;
          background-color:rgba(0, 0, 0, 0.3);
          margin-bottom: spacing(1);
          .vongtron {
            position: absolute;
            width: 130px;
            height: 130px;
            border: 7px solid #fc8fff;
            border-radius: 50%;
            top: -7px;
            left: -7px;
            clip: rect(0, 4.7em, 3em, 0);
            transform: rotate(200deg);
          }
        }
        .rating__stars {
          color: $color-yellow;
          @include Text($fs-2, $fw-bold);
          margin: 5px auto;
        }
        .rating__text {
          // text-align: center;
          color: $color-white-0;
          @include Text($fs-0, $fw-normal);
          padding: spacing(0.7);
        }
      }
    }
  }
}
