.movie-searching{
  background: #ffffff0d;
  border-radius: 25px;
  margin: 15px auto;
  padding: 0 40px;
  .movie-searching__form{
    .btn.btn-solid-dark{
      width: 100%;
    }
  }
}
@include responsive("small") {
  .movie-searching{
    padding: 1.5em;
  }
}
