#movieTheater.theater{
  .theater__panel{
    background: #ffffff0d;
    .theater__panel-tab{
      padding: 0;
    }
  }
  #movieTheaterTab{
    background-color: $color-purple-2;
    .nav-link {
      margin: 0;
      display: flex;
      border-radius: 10px 0 0 10px;
      align-items: center;
      color: #e8a6ff;
      font-size: 1.125em;
      transition: all 0.4s;
      img{
        width: 67px;
        height: 67px;
        margin-right: 10px;
      }
    }
    .nav-link.active{
      color: #fff;
      background-color: #602080;
      border-radius: initial;
      font-weight: 600;
    }
  }
  #movieTheaterTabContent{
    .tab-pane{
      .movie-line{
        width: 100%;
        padding: 20px 15px;
      }
      #theaterListGroupTab{
        .nav-item{
          transition: all 0.4s;
          .nav-link{
            background-color: transparent;
            color: #e8a6ff;
          }
          .nav-link.active{
            color: #fff;
            background: #ffffff21;
          }
        }
      }
      #theaterListGroupTabContent{
        a{
          color: #fff;
          padding: 0 10px 0 0;
        }
        .theater__tabmovie-img{
          width: 50px;
          height: 50px;
          object-fit: cover;
          border-radius: 5px;
        }
      }
    }
  }
}
@media screen and (max-width: 992px){
  #movieTheater.theater{
    .theater__panel{
      .theater__panel-tab{
        padding: 0;
        #movieTheaterTab{
          flex-direction: row!important;
          .nav-item {
            flex-grow: 1;
            width: 15%;
            text-align: center;
            .nav-link{
              flex-direction: column;
              height: 100%;
            }
        }
        }
      }
    }
  }
}

@media screen and (max-width: 552px){
  #movieTheater.theater{
    #movieTheaterTab{
      padding: 0 15px;
      .nav-link {
        font-size: 13px;
        img{
          width: 35px;
          height: 35px;
          margin-right: 10px;
        }
      }
    }
  }
}
