.movielist{
  background-color: $color-purple-0;
  padding: 1em 0;
  margin: 2.5em auto;
  .nav{
    .nav-item{
      .nav-link{
        background-color: $color-trans;
        transition: 0.5s all ease-in-out;
        padding: 0 1em 0 0;
        @include styleText($color-purple-1, 1.2em, 400, $tf-uppercase);
      }
      .nav-link.active{
        @include styleText($color-white-0, 1.2em, 400, $tf-uppercase);
      }
    }
  }
  .moviepanel{
    .moviepanel__movieitem{
      .movieitem__info{
        .movieitem__title{
          @include styleText($color-white-0, 1.5em, 600, $tf-uppercase);
        }
        .movieitem__desc{
          margin-top: 1em;
        }
        .movieitem__rating{
          color: $color-white-0;
          i{
            color: $color-yellow;
          }
          span{
            font-size: 1.05em;
            margin-left: 0.1em;
          }
        }
        .btn-linking{
          margin-top: 2em;
          span{
            font-size: 1.1em;
          }
          ion-icon {
            font-size: 20px;
          }
        }
      }
    }
    .moviepanel__slider{
      padding-bottom: 3.5em;
      margin-right: 0;
      margin-left: 0;
      .container{
        padding: 0;
        .slider__list{
          padding: 0;
          .slick-slider{
            .slick-list{
              .slick-track{
                .slick-slide{
                  .slider__item{
                    padding: 0 0.5em;
                    outline: none;
                    cursor: pointer;
                    img{
                      margin: 1em auto;
                      width: 200px;
                      height: 250px;
                      border-radius: 10px;
                      object-fit: cover;
                    }
                  }
                }
                .slick-slide.slick-current{
                  .slider__item{
                    img{
                      transform: scale(1.1);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
