.newsdetail{
    background-color: #fff;
    padding-top: 1em;
    .newsdetail__content{
        margin: 1em auto;
    }
    .newsdetail__credit{
       span{
            @include styleText($color-gray, 1em, $fw-normal, $tf-normal);
       }
    }
    .newsdetail__statistics{
        margin-top: 5px;
        margin-bottom: 10px;
        span{
            @include styleText($color-black-0, 1em, $fw-normal, $tf-normal);
            transition: all 0.3s;
            cursor: pointer;
        }
        .statistics_likes{
            color: $color-blue;
            &:hover{
                opacity: 0.8;
            }
        }
        .statistics_shares{
            color: $color-purple-hover-0;
            margin-left: 5px;
            &:hover{
                opacity: 0.8;
            }
        }
    }
}