* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Mulish', sans-serif;
  margin: 0;
  padding: 0;
  //@include styleText($color-black-0, $fs-0, $fw-normal);
}
p {
  margin: 0;
}
.mainpage{
  background: linear-gradient(180deg, rgba(96,32,128,1) 0%, rgba(176,48,176,1) 100%);
}
